<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{dialogmodel.headerText}}</h3>
    </div>
    <div class="panel-body">
        <div md-dialog-content>{{dialogmodel.boxLabel}}</div>
      <div md-dialog-actions>
         <button class="btn btn-primary" md-button md-dialog-close="true">{{dialogmodel.confirmButtonLabel}}</button>
        <button class="btn btn-secondary" md-button md-dialog-close="false">{{dialogmodel.cancelButtonLabel}}</button>
      </div>
    </div>
  </div>
