<form class="demand-form"
	(ngSubmit)="demandForm.valid && onSubmit(demand)" name="demandForm"
	novalidate>
	<div>
	<a class="btn btn-link" (click)="onbackClick()">back</a>
		<div class="rTableRow">
			<div class="rTableCell">
				<div class="rTable">
					<h5>Demand Details</h5>
					&nbsp;
					
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Product Name"
								class="form-control-demand-registration" 
								[(ngModel)]="demand.productName" 
								[formControl]="requiredControl" required> <md-error
								*ngIf="requiredControl.hasError('required')">
							Product Name is <strong>required</strong> </md-error>
							<md-option *ngFor="let productName of productList" [value]="productName">{{
							productName }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					
					
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Variety"
								class="form-control-demand-registration"
								[(ngModel)]="demand.variety" 
								[formControl]="requiredControl" required> <md-error
								*ngIf="requiredControl.hasError('required')">
							Variety Name is <strong>required</strong> </md-error>
							<md-option *ngFor="let vars of variety" [value]="vars.variety">{{
							vars.variety }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					
					
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Country"
								class="form-control-demand-registration"
								[(ngModel)]="demand.country" 
								[formControl]="requiredControl" required> <md-error
								*ngIf="requiredControl.hasError('required')">
							Country Name is <strong>required</strong> </md-error>
							<md-option *ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-demand-registration">
							<input name="quantity" [(ngModel)]="demand.quantity"
								type="number" mdInput placeholder="Quantity"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
                   &nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-demand-registration">
							<input name="desiredPrice" [(ngModel)]="demand.desiredPrice"
								type="number" mdInput placeholder="Disred Price"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					</div>
					</div>
					</div>
		<div class="rTableRow">
			<div class="rTableCell" align="left">
				<button class="btn-primary" [disabled]="!demandForm.valid">Save</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn-primary" type="reset">Reset</button>
			</div>
		</div>
	</div>
					
</form>