
.vertical-offset-100{
    padding-top:100px;
}
.login{
	border: 1px;
	border-color: black;
	width: 35%;
	border: 1px solid black;
	background-color:#f2f2f2;
	margin-left: 700px;
}
.form-group{
	
}
