.contact-form{
	width: 40%;
	margin-left: 40%;
}
.savebtn{
	width: 70px;
	margin-right: 50px;
	padding-right: 10px;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: white;
	
}
.row{
	margin-left: 20%;
}
.panel-title{
	text-align: center;
}