<br>
<br>
<br>

<form class="contact-form"
 name="contactForm" novalidate>
		<div class="panel panel-default panelwidth">
 			 <div class="panel-heading">
    			<h3 class="panel-title">Contact Us</h3>
  			</div>
			<div class="panel-body">
				<div class="rTable">
					<div class="row">
						<div class="col-md-10">
				        	<input type="text" class="form-control" placeholder="Your Name*"
						       aria-label="yourname" aria-describedby="basic-addon2">
				       </div>
					</div>
					<br>
					<div class="row">
					   <div class="col-md-10">
				        	<input type="text" class="form-control" placeholder="Email*"
						       aria-label="email" aria-describedby="basic-addon2">
				       </div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-10">
					       <textarea class="form-control" rows="5" placeholder="Please enter your queries here."
						    aria-label="enterqueries"></textarea>
						</div>
					</div>
					<br>
					<div class="row" align="right">
				       <div class="col-lg-6">
					     <div class="input-group">
							<button type="button" class="btn btn-default navbar-btn savebtn">Save</button>
						 </div>
				      </div>
			      </div>
				</div>
			</div>
		</div>
</form>