<div>
	<h2 align="center" style="font-style: normal;">Contact Us</h2>
</div>

<div id="rightcontent" style="width: 50%; float: right;">
	<h1>ENQUIRY</h1>&nbsp;
	<table>
		<tr>
			<td> <input mdInput placeholder="Your Name" size="30%" style="border-color: #003300 border: 1; outline: 1px solid green;" required><br></td>
		</tr>&nbsp;&nbsp;&nbsp;&nbsp;
		<tr>
			<td><input mdInput placeholder="Email" size="30%" style="border-color: #003300 border: 1; outline: 1px solid green;" required><br></td>
		</tr>&nbsp;&nbsp;&nbsp;&nbsp;
		<tr>
			<td> <textarea  mdInput placeholder="Please enter your queries here." rows="6" cols="32" style="outline: 1px solid green;"></textarea> </td>
		</tr>
		&nbsp;&nbsp;
		<tr align="center" style="border: black;">
		  <md-button-toggle>Submit</md-button-toggle>
		</tr>
	</table>
</div>