<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Products</h3>
				</div>
				<div class="ffp-mt-10 ffp-ml-10"> 
				<alert></alert>
				<button type="button"
					class="btn btn-primary"
					[routerLink]="['/sellerProduct/addProduct',currentUser.id]">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
					Add Product
		
				</button>
			
					<div class="panel-body" *ngFor="let product of products">
					 <nav class="navbar navbar-default" >
						<div class="panel panel-primary">
		
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-primary"
									style="background-color: #EB2026; font-style: bold; border: 1px solid; margin-right: 30px">Contact
									Supplier</button>
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a [routerLink]="['/sellerProduct/editProduct',currentUser.id,product.id]">Edit</a></li>
									<li role="separator" class="divider"></li>
									<li *ngIf="product.isActive"><a (click)="changeProduct(product,0)">In-Active</a></li>
									<li *ngIf="!product.isActive"><a (click)="changeProduct(product,1)">Active</a></li>
		
								</ul>
							</div>
						</div>
						
						</nav>
							<div class="container-fluid">
									<div class="row">
										<div class=" col-md-2">
											 <img
												src="assets/resources/apple.png" alt="Apple"
												class="img-responsive">
											
										</div>
										<div class="col-md-10">
											<div class="table-responsive">
												<table class="table table-sm my_table"
													style="background-color: #F9FFFE;">
													<thead>
														<tr>
															<th><h4>ID</h4></th>
															<th><h5>
																	{{product.id}}
															</h5></th>
															<th><h4>Type</h4></th>
															<th><h5>
																	{{product.type}}
															</h5></th>
															<th><h4>Variety</h4></th>
															<th><h5>
																	{{product.name}}
															</h5></th>
															<th><h4>Price</h4></th>
															<th><h5>
																	{{product.price}}
															</h5></th>
						
														</tr>
													</thead>
													<tbody>
														<tr>
															<th><h4>Seller ID</h4></th>
															<th><h5>
																	{{product.userProfile.id}}
															</h5></th>
															<th><h4>Seller Name</h4></th>
															<th><h5>
																	{{product.userProfile.companyName}}
															</h5></th>
															<th><h4>Available From</h4></th>
															<th><h5>
																	{{product.available}}
															</h5></th>
															<th><h4>Grade</h4></th>
															<th><h5>
																	{{product.grade}}
															</h5></th>
														</tr>
														<tr>
															<th><h4>Size</h4></th>
															<th><h5>
																	{{product.size}}
															</h5></th>
															<th><h4>Color</h4></th>
															<th><h5>
																	{{product.color}}
															</h5></th>
															<th><h4>MOQ</h4></th>
															<th><h5>
																	{{product.minOrderQty}}
															</h5></th>
															<th><h4>Packaging</h4></th>
															<th><h5>
																	{{product.packaging}}
															</h5></th>
														</tr>
														<tr>
															<th><h4>Negotiable</h4></th>
															<th><h5>
																	{{product.priceNegotiable}}
															</h5></th>
															<th><h4>M-unit</h4></th>
															<th><h5>
																	{{product.measurement}}
															</h5></th>
															<th><h4>Description</h4></th>
															<th><h5>
																	{{product.productDesc}}
															</h5></th>
															<th><h4>Status</h4></th>
															<th><h5>
																	{{product.isActive==1?'Active':'In-Active'}}
															</h5></th>
						
														</tr>
													</tbody>
												</table>
						
											</div>
										</div>
										
					</div>
				</div>

				<!-- pager -->
										<!--<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
								<li [ngClass]="{disabled:pager.currentPage === 1}"><a
									(click)="setPage(1)">First</a></li>
								<li [ngClass]="{disabled:pager.currentPage === 1}"><a
									(click)="setPage(pager.currentPage - 1)">Previous</a></li>
								<li *ngFor="let page of pager.pages"
									[ngClass]="{active:pager.currentPage === page}"><a
									(click)="setPage(page)">{{page}}</a></li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.currentPage + 1)">Next</a>
								</li>
								<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
									<a (click)="setPage(pager.totalPages)">Last</a>
								</li>
							</ul>-->
						</div>
				</div>
					
		
				
