.ffp-ml-10 {
    margin-left: 1% !important;
    margin-top: 1% !important;
}

.border-right {
    border-right: 1px solid blue;
}
h4{
    color: #9B9B9B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
h5{
    color: #337AB7;
    font-weight: Bold;
    font-size: 15px;
    text-align: left;
    
}
 .navbar-default
 {
     background: none;
 }

 img {
    max-width:100%;
    height: 200px
}

.ffp-mt-10 {
    margin-top: 1% !important;
   
}

.ffp-ml-10 {
    margin-left:1% !important;
   }
  