.my-navbar
{
    margin-top: 10px;
}
.my-navbar .navbar-default
{
    background: none;
    border:none;
}

.my-navbar .navbar-nav .active a,.my-navbar .navbar-nav .active a:hover
{
background:#14A7C6;
 color:#fff;
}
.my-navbar .navbar-nav li a:hover
{
    background:#14A7C6;
    color:#fff;
}
@media(max-width:1200px)
{
    .my-navbar .pull-right {float:none !important}
}
.btn-default
{
    margin-top:20px;
}