
<div class="container">
	<b *ngIf="currentUser">Hi! {{currentUser?.userName | uppercase}}</b>
	<b *ngIf="!currentUser" >Hi! {{'Guest' |uppercase}}</b>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">Portfolio</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/Home']"  routerLinkActive="active">Home</a></li>
					<li><a [routerLink]="['/Contact']"  routerLinkActive="active">Contact Us</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div *ngIf="!currentUser?.userName" >
					<ul class="nav navbar-nav navbar-right">
						<li><a [routerLink]="['/register']"><span
								class="glyphicon glyphicon-log-in"></span>Register</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a (click)="redirect()"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
				<div *ngIf="currentUser?.userName" >
					<ul class="nav navbar-nav navbar-right">
						<li><a (click)="doLogout()"><span
								class="glyphicon glyphicon-log-in"></span> Logout</a></li>
					</ul>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"></li>
						<li><a [routerLink]="['/User']" routerLinkActive="active">User</a></li>
						<li><a [routerLink]="['/Product']" routerLinkActive="active">Product</a></li>
						<li><a [routerLink]="['/Search']" routerLinkActive="active">Search</a></li>
						<li><a [routerLink]="['/Test']" routerLinkActive="active">Test</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<router-outlet> </router-outlet>

<!-- <nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
						<li class="active"></li>
						<li><a [routerLink]="['/User']">Help</a></li>
						<li><a [routerLink]="['/Product']">Mail Us</a></li>
						<li><a [routerLink]="['/Product']">About US</a></li>
					</ul>
	</nav> -->
</div>