.forgotPass{
	width: 60%;
	text-align: center;
	box-align:center;
	margin: auto;
}
.username{
	width: 155%;
	
}
.dropdownsec{
	width: 155%;
}
.secanswer{
	width: 250%;
}
.savebtn{
	width: 70px;
	margin-right: 50px;	
	background-color: #337ab7;
	border-color: #2e6da4;
	color: white;
}
.resetbtn{
	float: right;
	width: 70px;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: white;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }