
<alert></alert>
<form class="forgetPassword-form"
	(ngSubmit)="validateRecoveryIdentify(identity)" name="userForm"
	novalidate *ngIf="!isValidUser">
	<div class="rTable">
		<div class="rTableRow">
			<div class="rTableCell">
				<md-input-container class="form-control-user-registration">
				<input name="userName" [(ngModel)]="identity" mdInput
					placeholder="UserName/Email" required
					[ngModelOptions]="{standalone: true}" /> </md-input-container>
			</div>

			<div class="rTableRow">
				<div class="rTableCell">
					<button class="btn btn-primary">Save</button>
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
			</div>
		</div>
	</div>
</form>

<form class="ResetPassword-form"
	(ngSubmit)="validateRecoveryIdentify(identity)" name="userForm"
	novalidate *ngIf="isValidUser">
	<div class="rTable">
		<div class="rTableRow">
			<div class="rTableCell">
				<md-input-container class="form-control-user-registration">
				<input name="password" type="password" [(ngModel)]="identity"
					mdInput placeholder="Password" required
					[ngModelOptions]="{standalone: true}" /> </md-input-container>
				<md-input-container class="form-control-user-registration">
				<input name="confirmPassword" type="password" [(ngModel)]="identity"
					mdInput placeholder="UserName/Email" required
					[ngModelOptions]="{standalone: true}" /> </md-input-container>
			</div>

			<div class="rTableRow">
				<div class="rTableCell">
					<button class="btn btn-primary">Save</button>
					<button class="btn btn-primary" type="reset">Reset</button>
				</div>
			</div>
		</div>
	</div>
</form>

