<hr>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3><i class="fa fa-lock fa-4x"></i></h3>
							<h2 class="text-center">Forgot Password?</h2>
							<div class="panel-body">
								<alert></alert>
								<form class="form" (ngSubmit)="validateRecoveryIdentify(user)" name="userForm" novalidate *ngIf="!isValidUser">
									<fieldset>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

												<input name="identity" type="text" class="form-control" placeholder="Username/Email" [(ngModel)]="user.userName" />
											</div>
										</div>
										<div class="form-group">
											<md-select name="secQuestion" placeholder="Security Question" class="form-control" [(ngModel)]="user.secretQuestion" required>
												<md-option *ngFor="let name of securityQuestions" [value]="name.variety">{{name.variety }}</md-option>
											</md-select>
										</div>
										<div class="form-group">
											<input name="secAns" type="text" class="form-control" [(ngModel)]="user.secretAnswer" placeholder="Security Answer*">
										</div>

										<div class="form-group">
											<input class="btn btn-lg btn-primary btn-block" value="Verify" type="submit">
										</div>
									</fieldset>
								</form>


								<form class="form" (ngSubmit)="onsubmit()" name="confirmPassword" novalidate *ngIf="isValidUser">
									<fieldset>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
												<input name="password" class="form-control" type="password" [(ngModel)]="user.password" placeholder="Password" required />
											</div>
										</div>
										<div class="form-group input-group">
											
											<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input name="password" class="form-control" type="text" [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" required />
										</div>
										<div class="form-group">
											<input class="btn btn-lg btn-primary btn-block" value="Save" type="submit">
											<input class="btn btn-lg btn-primary btn-block" value="Reset" type="reset">
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>