<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add/Edit Product</h3>
  </div>
  <div class="panel-body">
   <div class="rTable">
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group"> 
				<input type="text" class="form-control userregistration-width"
					placeholder="Product Name*" aria-label="Product Name"
					aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control userregistration-width"
					placeholder="Minimum Order Quantity*"
					aria-label="Minimum Order Quantity" aria-describedby="basic-addon2">
			</div>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control userregistration-width"
					placeholder="Product Type*" aria-label="Product Type"
					aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<span class="input-group-addon">$</span> <input type="text"
					class="form-control price" placeholder="Price*" aria-label="Price">
				<span class="input-group-addon">.00</span>
			</div>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group"> 
				<input type="text" class="form-control userregistration-width"
					placeholder="Product Info*" aria-label="Product Info"
					aria-describedby="basic-addon1">
			</div>
		</div>
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-body">Price Negotiable    
						<input type="radio" class="priceneg"> Yes
  						<input type="radio" class="priceneg"> No
  						</div>
					</div>
					
				</div>
			</div>
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control productdesc"
					placeholder="Product Desc*" aria-label="Product Desc"
					aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group"> 
				<input type="text" class="form-control measure"
					placeholder="Measurement*" aria-label="Measurement"
					aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control grade"
					placeholder="Grade*"
					aria-label="Grade" aria-describedby="basic-addon2">
				
				<input type="text" class="form-control pack"
					placeholder="Packaging*"
					aria-label="Packaging" aria-describedby="basic-addon2">
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control userregistration-width"
					placeholder="Size*" aria-label="size"
					aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control userregistration-width"
					placeholder="Active*"
					aria-label="Active" aria-describedby="basic-addon2">
			</div>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control userregistration-width"
					placeholder="Color*" aria-label="color"
					aria-describedby="basic-addon1">
			</div>
		</div>
			<div class="col-lg-6">
				<div>
					Upload Image <input type="file" accept="image/*"
						(change)="handleInputChange($event)" />
				</div>

			</div>
		</div>

	</div>
	<br>
	<div class="row" align="right">
		<div class="col-lg-6">
			<div class="input-group">
				
					<button type="button" class="btn btn-default navbar-btn savebtn">Save</button>
					<button type="button" class="btn btn-default navbar-btn resetbtn">Reset</button>
				
			</div>
		</div>
	</div>
	
	
  </div>
</div>




