<form class="demand-form"
(ngSubmit)="onSubmit(demand)" name="demandForm"
	novalidate>
	<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Add Demand</h3>
		  </div>
		  <div class="panel-body table">
			  <div class="input-group">
				<a class="btn btn-primary" [routerLink]="['/demand']">Back</a>  
				<alert></alert>
			  </div>
		
				<div class="row ffp-mt-10">
					<div class="col-md-3">
							<md-select placeholder="Type*" class="form-control" [(ngModel)]="demand.product" 
							[ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"> 
							<md-option *ngFor="let productName of productList" [value]="productName">{{productName }}</md-option> </md-select>
				   </div>
				   <div class="col-md-5">
						<md-select placeholder="Variety*" class="form-control" [(ngModel)]="demand.varietyArray" 
						[ngModelOptions]="{standalone: true}" multiple> 
						<md-option *ngFor="let vars of variety" [value]="vars.variety">{{vars.variety }}</md-option> </md-select>
				   </div>
				   
					
				</div>
				<br>
				<div class="row">
						<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Grade*" [(ngModel)]="demand.grade" [ngModelOptions]="{standalone: true}"
								  aria-label="grade" >
							</div>
						<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Color*" [(ngModel)]="demand.color" [ngModelOptions]="{standalone: true}"
								 aria-label="color" >
							</div>
				   
				   <div class="col-md-2">
					 <input type="text" class="form-control" placeholder="Quantity*" [(ngModel)]="demand.quantity" [ngModelOptions]="{standalone: true}"
					   aria-label="quantity" >
				   </div>
				   <div class="col-md-2">
						<input type="text" class="form-control" placeholder="Measurement*" [(ngModel)]="demand.measurement" [ngModelOptions]="{standalone: true}"
						   aria-label="measurement" >
				   </div>
			 </div>
			<br>
				<div class="row">
					
					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon">$</span> <input type="text"
							class="form-control price" placeholder="Price*" [(ngModel)]="demand.price" [ngModelOptions]="{standalone: true}" aria-label="Price">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="col-md-2">
							<input type="date" class="form-control"
							name="input" [(ngModel)]="demand.availableDate" pattern="dd-MM-yyyy" 
							placeholder="(Available Date) dd-MM-yyyy" min="2017-01-01" [ngModelOptions]="{standalone: true}"/>
				    	</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
					   <md-select placeholder="Country*" class="form-control" [(ngModel)]="demand.countryArray"
						[ngModelOptions]="{standalone: true}" multiple> 
						<md-option *ngFor="let name of country" [value]="name.country">{{name.country }}</md-option> </md-select>

				   </div>
				  <div class="col-md-4">
					 <input type="text" class="form-control" placeholder="City"
					  [(ngModel)]="demand.city" [ngModelOptions]="{standalone: true}">

				 </div>
				
			</div>
				<br>
			
					<div class="row">
						<div class="col-lg-6">
							<div class="input-group">
							<button type="button" class="btn btn-primary" type="submit">Save</button>
							<button type="button" class="btn btn-primary ffp-ml-10" type="reset">Reset</button>
			
							</div>
						</div>
					</div>


			   </div>
		  </div>  			

	

</form>