<div>
	<h2>{{userlist}}</h2>
	<h2>{{errorMsg}}</h2>
	<table class="table" *ngIf="!isEmptyObject(errorMsg)">
		<tr *ngIf="iusers?.length > 0">
			<th>USER_ID</th>
			<th>USER_NAME</th>
			<th>PASSWORD</th>
		</tr>
		<tr *ngFor="let u of iusers">
			<td>{{u.userId}}</td>
			<td>{{u.userName}}</td>
			<td>{{u.password}}</td>
		</tr>
	</table>
	<button (click)="onTestPost()">Add User</button>
	<p>{{createuserOutput}}</p>
</div>

<form class="userregistration-form">
	<table class="example-full-width" cellspacing="0" width="300">
		<tr>
			<td><md-input-container class="userregistration-width">
				<input mdInput placeholder="User Name" required> </md-input-container>
			</td>
		</tr>
		<tr>
			<td><md-input-container class="userregistration-width">
				<input mdInput placeholder="First Name" required> </md-input-container>
			</td>
		</tr>
		<tr>
			<td><md-input-container class="userregistration-width">
				<input mdInput placeholder="Last Name" required> </md-input-container>
			</td>
		</tr>
		<tr>
			<td><md-input-container class="userregistration-width">
				<input mdInput placeholder="Email Id:" required> </md-input-container></td>
		</tr>

		<tr>
			<td><md-input-container class="userregistration-width">
				<span mdPrefix>+91 &nbsp;</span> <input type="tel" mdInput
					placeholder="Contact Number">
				</md-input-container></td>
		</tr>
		<tr>
			<td><md-radio-group> <md-radio-button value="1">Male</md-radio-button>&nbsp;&nbsp;
			<md-radio-button value="2">Female</md-radio-button> </md-radio-group></td>
		</tr>
		&nbsp;&nbsp;
		<tr>
		  <md-button-toggle>Submit</md-button-toggle>
		</tr>
	</table>
	
</form>