<div *ngIf="!isAdd">
	<a class="btn btn-link" (click)="onAddClick()">AddUser</a>
	<h2>{{userlist}}</h2>
	<h2>{{errorMsg}}</h2>
	<table class="table" *ngIf="!isEmptyObject(errorMsg)">
		<tr *ngIf="iusers?.length > 0">
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>USER NAME</th>
			<th>PASSWORD</th>
			<th>Email</th>
			<th>PhoneNo.</th>
			<th>Alternate No.</th>
			<th>UserType</th>
			<th>Address</th>
		</tr>
		<tr *ngFor="let u of iusers">
			<td>{{u.id}}</td>
			<td>{{u.firstName}}</td>
			<td>{{u.lastName}}</td>
			<td>{{u.userName}}</td>
			<td>{{u.password}}</td>
			<td>{{u.emailId}}</td>
			<td>{{u.phoneNumber}}</td>
			<td>{{u.secondaryContact}}</td>
			<td>{{u.userType}}</td>
			<td>{{u.address}}</td>
		</tr>
	</table>
</div>
<a class="btn btn-link" (click)="onbackClick()">Back</a>
<div class = "userborder">
<form class="userregistration-form"
	(ngSubmit)="userForm.valid && onSubmit(user)" name="userForm"
	*ngIf="isAdd" novalidate>

	<div>
		<div class="selected-value">Registering as:{{user.userType}}</div>
	</div>
	<div class="rTable">
		<div class="rTableRow">
			<div class="rTableCell">
				<md-radio-group class="radio-group" [(ngModel)]="user.userType"
					[ngModelOptions]="{standalone: true}"> <md-radio-button
					class="radio-button" *ngFor="let userType of userTypes"
					[value]="userType">{{userType}}</md-radio-button> </md-radio-group>
			</div>
		</div>
		<div class="rTableRow">
			<div class="rTableCell">
				<div class="rTable">
					<h5>Personal Information</h5>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input
								name="companyName" [(ngModel)]="user.companyName" mdInput
								placeholder="Company Name"
								[formControl]="companyrequiredControl" required> <md-error
								*ngIf="companyrequiredControl.hasError('required')">
							Company Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input name="firstName"
								[(ngModel)]="user.firstName" mdInput placeholder="First Name"
								required [formControl]="firstNamerequiredControl" /> <md-error
								*ngIf="firstNamerequiredControl.hasError('required')">
							First Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input name="lastName"
								[(ngModel)]="user.lastName" mdInput placeholder="Last Name"
								required [formControl]="LastNamerequiredControl" /> <md-error
								*ngIf="LastNamerequiredControl.hasError('required')">
							Last Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>
					<!-- <div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input mdInput
								[mdDatepicker]="picker" placeholder="Birth Date"
								[(ngModel)]="user.dob" required [formControl]="dobControl">
							<button mdSuffix [mdDatepickerToggle]="picker"></button>
							<md-error *ngIf="dobControl.hasError('required')">
							Birth Date <strong>required</strong> </md-error> </md-input-container>
							<md-datepicker #picker startView="year" [startAt]="startDate">
							</md-datepicker>
						</div>
					</div> -->
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Country"
								class="form-control-user-registration"
								[(ngModel)]="user.country" [ngModelOptions]="{standalone: true}">
							<md-option *ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="city" [(ngModel)]="user.city" mdInput
								placeholder="City" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="address" [(ngModel)]="user.address" mdInput
								placeholder="Address" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="emailId" [(ngModel)]="user.emailId" mdInput
								placeholder="Email Id:" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="phoneNumber" [(ngModel)]="user.phoneNumber"
								type="tel" mdInput placeholder="Contact Number"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="userName" [(ngModel)]="user.userName" mdInput
								placeholder="User Name" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input type="password" [(ngModel)]="user.password" mdInput
								placeholder="Password" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

				</div>
			</div>

			<div class="rTableCell">
				<div class="rTable">
					<h5>Additional Information</h5>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell" *ngIf="user.userType!='Buyer'">
							<md-select placeholder="Primary Activity"
								class="form-control-user-registration"
								[(ngModel)]="user.primaryActivity"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let name of primaryActivitySeller" [value]="name">{{
							name }}</md-option> </md-select>
						</div>
						<div class="rTableCell" *ngIf="user.userType=='Buyer'">
							<md-select placeholder="Primary Activity"
								class="form-control-user-registration"
								[(ngModel)]="user.primaryActivity"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let name of primaryActivityBuyer" [value]="name">{{
							name }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow" *ngIf="user.userType!='Buyer'">
						<div class="rTableCell">
							<md-select placeholder="Operational Year"
								class="form-control-user-registration"
								[(ngModel)]="user.operationalYear"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let year of years" [value]="year">{{year }}</md-option>
							</md-select>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Type of Apple Produced"
								class="form-control-user-registration"
								[(ngModel)]="user.productProducedArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of variety" [value]="name.variety">{{name.variety
							}}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input type="text" [(ngModel)]="user.annualTotalProduction"
								mdInput placeholder="Annual Production/Availability (Kg)"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Country of production "
								class="form-control-user-registration"
								[(ngModel)]="user.productionCountryArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Current Selling Markets"
								class="form-control-user-registration"
								[(ngModel)]="user.sellingMarketsArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					&nbsp;
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Security Question"
								class="form-control-user-registration"
								[(ngModel)]="user.securityQuestion" required
								[formControl]="securityQuesControl"> <md-option
								*ngFor="let name of securityQuestions" [value]="name">{{
							name }}</md-option> <md-error
								*ngIf="securityQuesControl.hasError('required')">
							Security Question <strong>required</strong> </md-error> </md-select>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input name="secuAns"
								[(ngModel)]="user.securityans" mdInput placeholder="Security Ans"
								required [formControl]="securityAnsControl" /> <md-error
								*ngIf="securityAnsControl.hasError('required')">
							Security Ans <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div class="rTableRow">
			<div class="rTableCell" align="center">
				<button class="btn btn-primary" [disabled]="!userForm.valid">Save</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-primary" type="reset">Reset</button>
			</div>
		</div>
	</div>

</form>
</div>

