<div class="container">
	<div class="row">
        <div class="col-md-6">
    		<h2>Product search field</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Product Serch..." #newquery [value]=""
		                    (keydown.enter)="submit(newquery.value)" required [ngModel]="" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" (click)="submit(newquery.value)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
