<form class="userregistration-form"
	(ngSubmit)="userForm.valid && onSubmit(user)" name="userForm"
	novalidate>
	<a class="btn btn-link" (click)="onbackClick()">back</a>
	<div>
		<div class="selected-value">Registering as:{{user.userType}}</div>
	</div>
	<div class="rTable">
		<div class="rTableRow">
			<div class="rTableCell">
				<md-radio-group class="radio-group" [(ngModel)]="user.userType"
					[ngModelOptions]="{standalone: true}"> <md-radio-button
					class="radio-button" *ngFor="let userType of userTypes"
					[value]="userType">{{userType}}</md-radio-button> </md-radio-group>
			</div>
		</div>
		<div class="rTableRow">
			<div class="rTableCell">
				<div class="rTable">
					<h5>Personal Information</h5>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container style="width: 100%;"> <input
								name="companyName" [(ngModel)]="user.companyName" mdInput
								placeholder="Company Name"
								[formControl]="companyrequiredControl" required> <md-error
								*ngIf="companyrequiredControl.hasError('required')">
							Company Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container> <input name="firstName"
								[(ngModel)]="user.firstName" mdInput placeholder="First Name"
								required [formControl]="firstNamerequiredControl" /> <md-error
								*ngIf="firstNamerequiredControl.hasError('required')">
							First Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container> <input name="lastName"
								[(ngModel)]="user.lastName" mdInput placeholder="Last Name"
								required [formControl]="LastNamerequiredControl" /> <md-error
								*ngIf="LastNamerequiredControl.hasError('required')">
							Last Name is <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container> <input type="date" mdInput
								 name="input" [(ngModel)]="user.dob"
								placeholder="(Birth Date) dd-MM-yyyy" min="1950-01-01" required />
							<md-error *ngIf="dobControl.hasError('required')">
							Birth Date <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Country"
								class="form-control-user-registration"
								[(ngModel)]="user.country" [ngModelOptions]="{standalone: true}">
							<md-option *ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="city" [(ngModel)]="user.city" mdInput
								placeholder="City" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="address" [(ngModel)]="user.address" mdInput
								placeholder="Address" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="emailId" [(ngModel)]="user.emailId" mdInput
								placeholder="Email Id:" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="phoneNumber" [(ngModel)]="user.phoneNumber"
								type="tel" mdInput placeholder="Contact Number"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input name="userName" [(ngModel)]="user.userName" mdInput
								placeholder="User Name" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input type="password" [(ngModel)]="user.password" mdInput
								placeholder="Password" required
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>

				</div>
			</div>

			<div class="rTableCell">
				<div class="rTable">
					<h5>Additional Information</h5>
					<div class="rTableRow">
						<div class="rTableCell" *ngIf="user.userType!='Buyer'">
							<md-select placeholder="Primary Activity"
								class="form-control-user-registration"
								[(ngModel)]="user.primaryActivity"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let name of primaryActivitySeller" [value]="name">{{
							name }}</md-option> </md-select>
						</div>
						<div class="rTableCell" *ngIf="user.userType=='Buyer'">
							<md-select placeholder="Primary Activity"
								class="form-control-user-registration"
								[(ngModel)]="user.primaryActivity"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let name of primaryActivityBuyer" [value]="name">{{
							name }}</md-option> </md-select>
						</div>
					</div>
					<div class="rTableRow" *ngIf="user.userType!='Buyer'">
						<div class="rTableCell">
							<md-select placeholder="Operational Year"
								class="form-control-user-registration"
								[(ngModel)]="user.operationSince"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let year of years" [value]="year">{{year }}</md-option>
							</md-select>
						</div>
					</div>
					
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input type="text" [(ngModel)]="user.weightIn" mdInput
								placeholder="Weight In"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Fruit Type"
								class="form-control-user-registration"
								[(ngModel)]="user.typeFruit"
								[ngModelOptions]="{standalone: true}"> <md-option
								*ngFor="let name of productlist" [value]="name">{{name}}</md-option>
							</md-select>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Variety"
								class="form-control-user-registration"
								[(ngModel)]="user.typeFruitVarietyArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of variety" [value]="name.variety">{{name.variety
							}}</md-option> </md-select>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container class="form-control-user-registration">
							<input type="text" [(ngModel)]="user.annualOpQuantity" mdInput
								placeholder="Annual Production/Availability (Kg)"
								[ngModelOptions]="{standalone: true}" /> </md-input-container>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Country of production "
								class="form-control-user-registration"
								[(ngModel)]="user.countryOfOperationArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Current Selling Markets"
								class="form-control-user-registration"
								[(ngModel)]="user.currentOpCountryArray"
								[ngModelOptions]="{standalone: true}" multiple> <md-option
								*ngFor="let name of country" [value]="name.country">{{
							name.country }}</md-option> </md-select>
						</div>
					</div>
					<div class="rTableRow">
						<div class="rTableCell">
							<md-select placeholder="Security Question"
								class="form-control-user-registration"
								[(ngModel)]="user.secretQuestion" required
								[formControl]="securityQuesControl"> <md-option
								*ngFor="let name of securityQuestions" [value]="name">{{
							name }}</md-option> <md-error
								*ngIf="securityQuesControl.hasError('required')">
							Security Question <strong>required</strong> </md-error> </md-select>
						</div>
					</div>

					<div class="rTableRow">
						<div class="rTableCell">
							<md-input-container> <input name="secuAns"
								[(ngModel)]="user.secretAnswer" mdInput
								placeholder="Security Answer" required
								[formControl]="securityAnsControl" /> <md-error
								*ngIf="securityAnsControl.hasError('required')">
							Security Ans <strong>required</strong> </md-error> </md-input-container>
						</div>
					</div>



				</div>
			</div>

		</div>
		<div class="rTableRow">
			<div class="rTableCell">
				<button class="btn btn-primary" [disabled]="!userForm.valid">Save</button>
				<button class="btn btn-primary" type="reset">Reset</button>
			</div>
		</div>
	</div>



</form>

